## <u>While doing this assignment only use those concepts which have been taught till now</u>

## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [ ]:
# A list containing average daily temperature over a week
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]
# Store the highest temperature
max_temp = max(temperatures)

# Index of the element with the highest temperature
max_temp_index = temperatures.index(max_temp)
# Store the lowest temperature
min_temp = min(temperatures)

# Index of the element with the lowest temperature
min_temp_index = temperatures.index(min_temp)
# Swap the highest and the lowest temperatures
temperatures[min_temp_index]=max_temp
temperatures[max_temp_index]=min_temp
# Print the output list
print(temperatures)

[34, 40, 42, 33, 29, 37, 39]


## <u>Problem 2 </u>

### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ elements

In [ ]:
# List of product prices
from functools import reduce
prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
mean_price = (reduce(lambda x,y:x+y,prod_price_list))/len(prod_price_list)
print(mean_price)
# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices = sorted(prod_price_list)
print(sorted_prices)
# Check if the number of elements in the list is even or odd
if len(prod_price_list)%2 ==0:
  a=True
else:
  a=False
# Use the corresponding formula to calculate the median and print the median
N=len(sorted_prices)
if a==True:
  median_price = (sorted_prices[int(N/2)-1] + sorted_prices[int(N/2)])/2
else:
  median_price= sorted_prices[int((N+1)/2)]
print(median_price)
# Check which is greater, mean or median
if mean_price>median_price:
  print("Mean Price is greater than Median Price")
else:
  print("Median Price is greater than Mean Price")

1975.0
[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]
575.0
Mean Price is greater than Median Price

### Why do you think that is the case??

### <u>Write your explanation in this text cell</u>

Your explanation :

## <u> Problem 3 </u>

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [ ]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]
# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']
# Write your code below
new_list=tech_companies[-1]
tech_companies.remove(new_list)
tech_companies.extend(new_list)
print(tech_companies)
# Do the same task another way
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]
tech_companies=tech_companies[:-1]+tech_companies[-1]
print(tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']
['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']